form {
	width: 80%;
	max-width: 500px;
}
#root {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
#logout {
	position: fixed;
	height: 40px;
	top: 5px;
	right: 5px;
}
#logout:hover {
	background: red;
}
.forms {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-bottom: 10px;
}
.toolbar {
	width: 100%;
	height: 60px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
.toolbar button {
	margin-left: 20px;
	height: 40px;
}
.toolbar button:hover {
	background: red;
}
.toolbar button:last-child:hover {
	background: green;
}
.error {
	font-size: 14px;
	color: red;
}
.forms span {
	font-size: 22px;
	cursor: pointer;
	margin-left: 40px;
}
form .btn {
	align-self: center;
	width: 50%;
	margin-left: 25%;
}
.active {
	color: #0d6efd;
	font-weight: 600;
	font-size: 26px;
}
body {
	padding: 0;
	margin: 0;
}